# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build directories
CMakeFiles/
CMakeCache.txt
Build/
Release/
SableImageEditor.dir/
_deps/
x64/
x86/

# Ignore specific file types
*.ini
*.cmake

# Git
.git/