# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build directories
CMakeFiles/
CMakeCache.txt
Build/
Release/
Debug/
imgui.dir/
nfd.dir/
SableImageEditor.dir/
dependencies/
x64/
x86/

# Ignore specific file types
*.ini
*.cmake
*.a
Makefile
SableImageEditor

# Git
.git/
.vscode/